{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block titulo %}Archivo base{% endblock %}	</title>
	{% block estilos %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/fontawesome/css/fontawesome-all.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/materialize/css/materialize.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/style_presonalizada.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% endblock %}	
</head>
<body>
	{% block navbar %}
		<nav class="teal darken-4">
			<div class="nav-wrapper">
				<a class="brand-logo center">{% block titulo_navbar %}Archivo base{% endblock %}</a>
			</div>
		</nav>
	{% endblock %}

	{% block contenido %}
	{% endblock %}	

	{% block mas_contenido %}
	{% endblock %}	

	{% block pie_pagina %}
		<footer class="teal darken-4">
			<div class="footer-copyright">
				<div class="container center">
					© 2018 Todos los derechos reservados 
				</div>
			</div>
		</footer>
	{% endblock %}	
	{% block javascrip %}
	<script src="{% static 'app_proyecto/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'app_proyecto/materialize/js/materialize.min.js' %}"></script>
	{% endblock %}	
</body>
</html>