{% load static %}
{%block condiciones%}
{%if request.session.id_puesto  == "Gerente"%}
		<script>window.location.replace("../inicio_gerente");</script>
	{%elif request.session.id_puesto  == "Supervisor"%}
		<script>alert("Es Supervisor")</script>
	{%elif request.session.id_puesto  == "Empleado"%}
		<script>alert("Es Empleado")</script>
{%endif%}
{% endblock %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block titulo %}Archivo base{% endblock %}	</title>
	{% block estilos %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/fontawesome/css/fontawesome-all.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/materialize/css/materialize.min.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'app_proyecto/style_presonalizada.css' %}" />
	<script src="{% static 'app_proyecto/jquery-3.2.1.min.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% endblock %}	
</head>
<body>
	{% block nav_dropdowns %}
	 <ul id="drop_solicitud_empleado" class="dropdown-content">
        <li><a href="../form_persona">Datos Personales</a></li>
        <li><a href="../form_persona_domicilio">Domicilio</a></li>
     </ul>
     <ul id="drop_examenes_puestos" class="dropdown-content">
        <li><a href="../examen_cajas">Caja</a></li>
        <li><a href="../examen_jefe_abarrotes">Jefe de Abarrotes</a></li>
     </ul>
	{% endblock %}	
	{% block navbar %}
		<nav class="teal darken-4">
			<div class="nav-wrapper">
				<a class="brand-logo center">{% block titulo_navbar %}Archivo base{% endblock %}</a>
				{% block nav_contenido %}
				  <ul>
				  	<li><a href="../login">Inicio</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="drop_solicitud_empleado"><i class="fas fa-chevron-circle-down fa-1x"></i>  Mi Registro</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="drop_examenes_puestos"><i class="fas fa-chevron-circle-down fa-1x"></i>  Pruebas</a></li>
				  </ul>
				{% endblock %}				
			</div>
		</nav>
	{% endblock %}

	{% block contenido %}
	{% endblock %}	

	{% block mas_contenido %}

	{% endblock %}	

	{% block pie_pagina %}
		<footer class="teal darken-4">
			<div class="footer-copyright">
				<div class="container center">
					© 2018 Todos los derechos reservados 
				</div>
			</div>
		</footer>
	{% endblock %}	
	{% block javascrip %}
	<script src="{% static 'app_proyecto/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'app_proyecto/materialize/js/materialize.min.js' %}"></script>
	<script>
		  $(document).ready(function() {
	     	// Initialize collapse button
  			$(".button-collapse").sideNav();
		  });     

		$(document).ready(function() {
		$('select').material_select();
		}); 
	</script>
	{% endblock %}	
</body>
</html>