<!-- CARGA LOS BLOQUES DEL ARCHIVO BASE -->
{% extends 'app_proyecto/gerente/base.html' %}

<!-- SOBRESCRIBE LA ETIQUETA TITULO -->
{% block titulo %}Listado de empleados{% endblock %} 

<!-- SOBRESCRIBE EL NOMBRE DEL TITULO DEL BODY -->
{% block titulo_navbar %}Listado de empleados{% endblock %}

<!-- CONTENIDO DEL USUARIO VERSION MOVIL -->
{% block contenido %}
 <div class="container" style="width: 80%;">
	<table class="bordered centered striped">
		<thead>
			<tr>
				<th>No Empleado</th>
				<th>Curp</th>
				<th>Puesto</th>
				<th>Contraseña</th>
			</tr>
		</thead>
		<tbody>
			{% for value in object_list %}
				<tr>
					<td>{{ value.No_Empleado }}</td>
				    <td>{{ value.Curp }}</td>
				    <td>Gerente</td>
				    <td>{{ value.contraseña }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 

